.header {
    background-color: #d0f0e6;
    color: #000;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
  
.header h1 {
    margin: 0;
}
  
.header p {
  margin-top: 10px;
}